<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name = "viewport" content="width=device-width initial-scale=1">
	<title>Younghun Lee's web portfolio</title>
	<link rel="icon" type="image/png" href="img/initial_favicon.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-custom" id="background-project">
  		<div class="container-fluid">
    		<div class="navbar-header">
     			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="index.html"><img src="img/mainlogo.png" alt="initial logo" class="initial-logo"/></a>
    		</div>
    		<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
						<li><a href="index.html">Home</a></li>
        		<li class="active"><a href="projects.html">Projects</a></li>
        		<li><a href="experiences.html">Experiences</a></li>
        		<li><a href="contact.html">Contact</a></li>
      		</ul>
    		</div>
				<div class="navbar-text" id="header_detail">
					<h1>Projects</h1>
					<h2>- Programming-based Personal and Team Projects</h2>
				</div>
  		</div>
		</nav>
	</header>
	<div class="content">
		<div class="page-heading">
		<h3>Projects</h3></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/danchew_resize.png" alt="Danchew Project" class="project-pic" id="danchew"/>
						<figcaption class="caption">Danchew</figcaption>
					</figure>
					<div class="project-detail" id="danchew-detail">
						<h3>Project Overview</h3>
						<p>There might be two different texts, which cover same subjects. Danchew helps user to
							recognize the different viewpoint existing between two texts. By comparing two texts,
							an user can have more balanced viewpoint in many issues, including social and global issues.</p>
						<p>When an user enters two texts in the form and submit, Danchew shows 3 different tag-cloud.
							First and second tag-cloud represent morphemes exsisting in each text, and third tag-cloud
							displays common-morphemes, existing in both of them. So an user can understand overall content
							from the third one, and different viewpoint from first and second.</p>
						<h3>Role</h3>
						<p>Ideation, Importing Facebook and Twitter API, Making lists of 'Most recent articles' and 'Top viewed articles' from stored dataset.</p>
						<h3>During</h3>
						<p>December 2013 ~ February 2014</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/planit_resize.jpg" alt="Planit Project" class="project-pic" id="planit"/>
						<figcaption class="caption">Planit</figcaption>
					</figure>
					<div class="project-detail" id="planit-detail">
						<h3>Project Overview</h3>
						<p>The purpose of this study is to introduce a new way to express schedulers.</p>
						<p>We recognized that almost all schedulers are rectangular in shape and we wanted to
							change this shape using a novel way of expression. We thought that daily, weekly, and
							monthly schedules came to us regularly and the movement of these schedules is like a
							planet’s revolution. Therefore, we developed a tool that converts users’ Google Calendar
							into a planetary system.</p>
						<p>After applying one's Google Calendar by clicking a button on the top, users could see
							their regular and irregular schedules are coming toward the 'Today' line. Each schedule
							is represented as a planet with a color and this color is same as the color of schedules
							in Google Calendar. The number of planets shows the number of schedules in one day. Regular
							schedules are displayed on the right side and irregular schedules are on the other side.
							Users could see the movement of the schedules by moving a sidebar displayed on the bottom.</p>
						<h3>Role</h3>
						<p>Ideation, Designing main orbits, Implementing the movements and positions of planets.</p>
						<h3>During</h3>
						<p>March 2014 ~ May 2014</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/sawtooth_resize.png" alt="Sawtooth Bubble Chart Project" class="project-pic" id="sawtooth"/>
						<figcaption class="caption">Sawtooth Bubble Chart</figcaption>
					</figure>
					<div class="project-detail" id="sawtooth-detail">
						<h3>Project Overview</h3>
						<p>The purpose of this study is to introduce the Sawtooth Bubble Chart as a way to visualize
							the human emotional data.</p>
						<p>According to James Russell, human emotions can be explained by two constructs: valence level
							(from pleasant to unpleasant) and arousal level (from activation to deactivation). This study
							utilized the bubble charts to present those two constructs. To indicate various human emotions,
							the levels of valence were described by sawtooth on each bubble; the levels of arousal were described
							by different colors.</p>
						<p>As the number of users of Social Networking Service rises, the demands for visualizing human
							emotions are increasing. Before this study, most of visualization methods were based on
							unidimensional classification of human emotions. However, extracting detailed human emotions are
							getting easier thanks to the development of the text mining algorithm. Therefore, this study
							proposes new visualization methodology which can express multidimensional human emotions more
							effectively. In future, studies for finding more applications to verify the effectiveness of this
							method are needed.</p>
						<h3>Role</h3>
						<p>Ideation, Analyzing Twitter data and ANEW dictionary, Writing a paper</p>
						<h3>During</h3>
						<p>May 2014 ~ June 2014</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/morpheme_resize.jpg" alt="Morpheme Analysis Project" class="project-pic" id="morpheme"/>
						<figcaption class="caption">Korean Text Analysis</figcaption>
					</figure>
					<div class="project-detail" id="morpheme-detail">
						<h3>Project Overview</h3>
						<p>This project is about analyzing Korean texts based on the Vector Methodology.</p>
						<p>In this project, due to the inherent characteristic of Korean morphemes and grammar,
							it’s hard to directly apply text analysis methodology in English text. So we devise a
							system based on vector analysis. Each element in a N-dimension vector represents the
							number of advents in N-th sentence. Therefore, if we have 5 sentences and the word “is”
							appears in 1st, 3rd and 4th sentence, it’s vector representation is (1, 0, 1, 1, 0).
							In this way, if we calculate cosine value from the inner product of two vectors, that
							value can represent correlation of two words. If two words have higher cosine value than
							usual pairs of words, then we can put these words nearby.</p>
						<p>Some of the words in a text are regarded as significant than others, based on the position
							in a paragraph. Since important words tent to appear in the first or the last sentence of a
							paragraph. We put more weight on those words to calculate “importance factor”. In visualizations,
							we can use “correlation value” to determine the relative position of a morpheme and
							“importance factor” to determine the size of a morpheme.</p>
						<h3>Role</h3>
						<p>Ideation, Modifying morpheme analyzing toolkit, Implementing vector analysis, Visualizing results with D3.js Heatmap</p>
						<h3>During</h3>
						<p>June 2014 ~ July 2014</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/arduino_resize.jpg" alt="Arduino Teaching Project" class="project-pic" id="arduino"/>
						<figcaption class="caption">Teaching Arduino</figcaption>
					</figure>
					<div class="project-detail" id="arduino-detail">
						<h3>Project Overview</h3>
						<p>This project is purposed to introduce <a href="https://www.arduino.cc" target="_blank">Arduino</a>
						to junior-high school students.</p>
						<p>As a selected volunteer program supported by <a href="http://igsr.snu.ac.kr" target="_blank">
						Seoul National University Institute for Global Social Responsibility</a>, Our team made advertising materials
						in order to gather participants. We decided our target as junior-high students because we thought
						they could not only understand computer programming methodologies well, but also enjoy them. About
						15 students from <a href="http://www.yeoksam.ms.kr" target="_blank">Yeoksam Middle School</a> participated.</p>
						<p>We prepared lecture materials with simple example codes and circuits in order to make students
						understand both computer programming and Microcontroller. Then, based on what they had learned,
						students proposed their own projects which were related to make simple gadgets using Arduino.
						Our team member helped them to complete their projects.</p>
						<h3>Role</h3>
						<p>Writing a proposal, Making education materials, Teaching students</p>
						<h3>During</h3>
						<p>July 2014 ~ August 2014</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
				<div class="col-sm-2 col-lg-4">
					<figure class="project-fig">
						<img src="img/next_resize.png" alt="Next project is still working on" class="project-pic" id="working"/>
						<figcaption class="caption">What's next?</figcaption>
					</figure>
					<div class="project-detail" id="working-detail">
						<p>Still working on the next project...</p>
						<a href="#" class="close-detail">Click to close detail</a>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer id="footer">
		<div class="footer-content">
		<div class="footer-text">&copy; 2015 Younghun Lee</div>
	</div>
	</footer>
</body>
<script>
var total_height = $(window).height()
var document_height = $('header').height() + $('.content').height()
if (total_height>=document_height){
	var footer_elem = document.getElementById('footer');
	footer_elem.style.position = "fixed";
}

var elem = document.getElementById('header_detail');
$('.navbar-toggle').click(function(){
	var clicks = $(this).data('clicks');
	if(clicks){
		elem.style.display = "block";
	}
	else{
		elem.style.display = "none";
	}
	$(this).data("clicks", !clicks);
});

$('.project-pic').on({
		mouseenter: function() {
			if (!$(this).hasClass('custom')) {
				$(this).fadeTo('fast', 1);
			}
		},
		mouseleave: function() {
			if (!$(this).hasClass('custom')) {
				$(this).fadeTo('fast', 0.6);
			}
		},
		click: function() {
			var id = event.target.id;
			id += '-detail';
			var elem = $('#' + id);
			var display = $(elem).css('display');

			if (display === 'none') {
				$(elem).show('normal');
				$(this).addClass('custom');
			} else if (display === 'block') {
				$(elem).hide('normal');
				$(this).removeClass('custom');
			}
		}
	});
$('.project-fig').click(function(){
		$('html, body').animate({
			scrollTop: $(this).offset().top-10
		}, 500);
		return false;
	});
$('.close-detail').click(function(){
		var parent_elem = this.parentElement;
		var column = parent_elem.parentElement;
		var figure = column.children[0];

		$('html, body').animate({
			scrollTop: $(figure).offset().top-10
		}, 500);

		$(parent_elem).hide('normal');
		$(figure.children[0]).removeClass('custom');


		return false;
	});

</script>
</html>
